<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
    <!-- build:css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/views.css">
    <!-- endbuild -->
</head>
<body>
    <h1>Hola mundo como estas..!</h1>

    <!-- build:js -->
        <script src="assets/js/login.js"></script>
    <!-- endbuild -->
</body>
</html>