
.logo{
    width: 300px;
    margin: 0 auto;
}
.fila-login{
    margin-top:10%;
}
.link-registro{
    display: block;
    margin-top: 15px;
    font-size: 19px;
}

/*registro*/
.container-registro{
    margin-top: 5%;
}
.cardPro{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #2D2D2D;
}