    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>GitGrad</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b> GitGrad </b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <!--<a href=""  data-toggle="offcanvas" role="button">
            <span class="glyphicon glyphicon-align-justify"></span>
          </a>-->
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu" style="height: 49px !important;">
            <ul class="nav navbar-nav">


              <!-- User Account Menu -->
              <li class="dropdown user user-menu"
                  ng-include="'template/usuario.html'">
              </li>

            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar"
          ng-include="'template/menu.html'">
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="min-height: 100vh;">
        <!-- Content Header (Page header) -->
        <section class="content-header" >
                <h1 class="text-primary text-center">Proyectos</h1>
        </section>

        

         <!--Main content -->
        <section class="content" >
                <div class="container">
                    <div class="col-md-offset-3 col-md-6">
                      <input type="text" class="form-control" placeholder="Buscar" ng-model="buscador" required>
                        <br> 
                        <div class="well cardPro" ng-click="irProyecto(proyecto)" ng-repeat=" proyecto in proyectos | filter:buscador ">
                              <span>{{ proyecto.project_name }}</span>
                              <p><span>Modalidad: </span>{{ proyecto.modality }} <span>Gestión: </span>{{ proyecto.gestion}}</p>
                              <p><span>Estado: </span>{{ proyecto.hito }} <span>Fecha de registro: </span> {{ proyecto.register_date }}</p>
                              <p><span>Universitario(a): </span>{{ proyecto.user_name }} {{ proyecto.last_name }} <span>CU: </span>{{ proyecto.cu }}</p>
                               <!--{{ proyecto | json }} -->
                        </div>
                    </div>
                </div>
                
                
        </section> 
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
    


    </div><!-- ./wrapper -->