    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>GitGrad</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b> GitGrad </b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <!--<a href=""  data-toggle="offcanvas" role="button">
            <span class="glyphicon glyphicon-align-justify"></span>
          </a>-->
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu" style="height: 49px !important;">
            <ul class="nav navbar-nav">


              <!-- User Account Menu -->
              <li class="dropdown user user-menu"
                  ng-include="'template/usuario.html'">
              </li>

            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar"
          ng-include="'template/menu.html'">
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="min-height: 100vh;">
        <!-- Content Header (Page header) -->
        <section class="content-header" >
            <br><br>
                <h1 class="text-primary text-center">Agregar proyectos</h1>
        </section>
        <br><br>
        <div class="container-fluid">
            <div class="col-md-offset-4 col-md-4 animated bounceIn">
                <form name="frmProyecto" ng-submit="insertarProyecto(proyecto)">
                    <div class="form-group">
                        <label for="tituloInput" style="color: #9e9e9e">Título</label>
                        <input type="text" class="form-control" ng-model="proyecto.name" id="tituloInput" placeholder="Título" required>
                    </div>
        
                    <div class="form-group">
                        <label for="modInput" style="color: #9e9e9e">Modalidad</label>
                        <input type="text" class="form-control" ng-model="proyecto.modality" id="modInput" placeholder="Modalidad" required>
                    </div>

                    <div class="form-group">
                        <label for="gestInput" style="color: #9e9e9e">Gestión</label>
                        <input type="text" class="form-control" ng-model="proyecto.gestion" id="gestInput" placeholder="Gestión" required>
                    </div>

                    <div class="form-group">
                        <label for="cuInput" style="color: #9e9e9e">CU Estudiante</label>
                        <input type="text" class="form-control" ng-model="proyecto.cu" id="cuInput" placeholder="Carnet Universitario" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Registrar proyecto</button>
                    <br>
                    <div class="alert alert-danger animated tada" ng-show="estudiante1">
                        CU no valido, estudiante no registrado
                    </div>
                    <div class="alert alert-success animated tada" ng-show="estudiante2">
                        Proyecto insertado correctamente
                    </div>
                </form>
            </div>
        </div>
            

         <!--Main content -->
        
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
    


    </div><!-- ./wrapper -->